* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #252B42;
}

body {
  font-family: var(--main-font);
  font-weight: normal;
  font-style: normal;
  background: var(--bg-white-blue);
}

.container {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 20px;
}

header {
  background-image: url(../../assets/images/background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrapper .nav {
  display: flex;
  width: 100%;
  gap: 250px;
  height: 80px;
  align-items: center;
}
header .wrapper .nav h1 {
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
}
header .wrapper .nav .nav__list {
  display: flex;
  gap: 30px;
}
header .wrapper .nav .nav__list--item {
  list-style: none;
  display: flex;
}
header .wrapper .nav .nav__list--item a {
  text-decoration: none;
  font-family: sans-serif;
  color: #737373;
}
header .subtitle {
  padding-top: 100px;
}
header .subtitle h1 {
  font-size: 50px;
  font-weight: 1000;
  line-height: 80px;
  color: #252B42;
  font-family: sans-serif;
}
header .subtitle .subtitle-p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #737373;
}
header .subtitle .subtitle_btn1 {
  margin-top: 40px;
  padding: 10px 35px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
  background-color: #FFA62B;
}
header .subtitle .subtitle_btn1:hover {
  box-shadow: rgba(201, 113, 26, 0.715) 0px 10px 30px;
  transition: all 0.5s ease-in-out;
}
header .subtitle .subtitle_btn2 {
  margin-left: 10px;
  padding: 10px 35px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-size: 20px;
  color: #00A0C1;
  border: 2px solid #00A0C1;
  background-color: transparent transparent transparent;
}
header .subtitle .subtitle_btn2:hover {
  box-shadow: rgba(52, 149, 205, 0.715) 0px 10px 30px;
  transition: all 0.5s ease-in-out;
}
header .cards {
  display: flex;
  gap: 50px;
}
header .cards .card {
  width: 350px;
  height: 210px;
  padding: 30px 30px;
  background-color: #fff;
  margin-top: 110px;
  backdrop-filter: blur(20px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header .cards .card h2 {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 800;
  color: #252B42;
}
header .cards .card p {
  font-size: 16px;
  font-weight: 500;
  color: #737373;
}
header .cards .card:hover {
  box-shadow: rgba(52, 149, 205, 0.715) 0px 10px 30px;
  transition: all 0.5s ease-in-out;
}
header .cards .card3 {
  background-color: #00A0C1;
  width: 350px;
  height: 210px;
  padding: 40px 40px;
  margin-top: 110px;
  backdrop-filter: blur(20px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header .cards .card3 h2 {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}
header .cards .card3 p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
header .cards .card3:hover {
  box-shadow: rgba(223, 231, 236, 0.715) 0px 30px 50px;
  transition: all 0.5s ease-in-out;
}

#choose {
  padding-top: 150px;
  align-items: center;
  text-align: center;
}
#choose h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
}
#choose p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  align-items: center;
  color: #737373;
}
#choose .cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
}

#practice {
  padding-top: 150px;
  align-items: center;
}
#practice h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
}
#practice .sub {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  align-items: center;
  color: #737373;
}
#practice .cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
}
#practice .cards .card {
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
#practice .cards h5 {
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
#practice .cards p {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  align-items: center;
  color: #737373;
}/*# sourceMappingURL=style.css.map */